<%= form_for(@group, :html => { :multipart => true}) do |g| %>

	<div class="row">
	<div class="span4 offset4">
		<div class="well">
			<label><span class="label label-info">Name</span></label>
			<%= g.text_field :name %>


			<label><span class="label label-info">Description</span></label>
			<%= g.text_area :description %>



			<label><span class="label">Category</span><label>
			<%= g.collection_select :category_id, Category.all, :id, :name %>



			<label><span class="label">Logo</span></label>
			<%= g.file_field :logo %>
		</div>
	</div>
	</div>

		<div class="form-actions">
			<div class="row">
				<div class="span1 offset2">
					<%= g.submit %>
				</div>
			</div>
		</div>
	
<% end %>
